<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551604048059-8takepvavfi6fepa8jdtosldr0abdlrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551604048059-8takepvavfi6fepa8jdtosldr0abdlrj</string>
	<key>API_KEY</key>
	<string>AIzaSyB8YFZKIn2Cb9O7-QW6v8MIOnM1Uw5Qsfs</string>
	<key>GCM_SENDER_ID</key>
	<string>551604048059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foryou</string>
	<key>PROJECT_ID</key>
	<string>foryou-c03ad</string>
	<key>STORAGE_BUCKET</key>
	<string>foryou-c03ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551604048059:ios:07abd9e4d0dd0d3e6a599e</string>
</dict>
</plist>